<h1>Edit</h1>
<form method="POST">
<input type="hidden" name="empId" value="{{employee._id}}">
<input name="name" value="{{employee.name}}"><br><br>
<input name="phone" value="{{employee.phone}}"><br><br>
<button>Save</button>
</form>