<h1>Login</h1>
{{#if message}}<p style="color:red">{{message}}</p>{{/if}}
<form method="POST">
<input name="username" placeholder="Username"><br><br>
<input name="password" type="password" placeholder="Password"><br><br>
<button>Login</button>
</form>
<p>Don't have an account? <a href="/signup">Sign up here</a></p>